/* Estilos login*/
#body {
    background: linear-gradient(90deg,  #009728, #0b1a53);
    padding: 20px;

}

.container-all {
    width: 100%;
    margin-top: 50px;
    display: flex;
    overflow: hidden;
}

.container-form {
    width: 80%;
    padding: 40px;
    background: #0b1a53;

}

.logo {

    display: block;
    margin: auto;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: #f7f7f7;
}



.label-login{
    font-size: 18px !important;
}

#btn-login{
    background: linear-gradient(90deg, #0b1a53, #123a1d); 
}



/*parte derecha*/

.container-text {
    width: 100%;
    /*background-image: url(../img/img1.jpg); /*::/images/img1.jpg*/
    background-position: center;
    background-size: cover;
    padding: 20px; 
    position: relative;
}


.litle-description {
    position: relative;
    top: 50px;
    color: white;
    font-weight: 300;
    font-size: 48px;
}

.text-description {
    position: relative;
    top: 80px;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

/*Responsive*/

@media screen and (max-width: 800px){
    .container-text{
        display: none;
    }

    .container-form{
        margin: auto;
        width: 100%;
    }

}

@media screen and (max-width: 50px){
    
    .title-welcome{
        font-weight: 400;
        font-size: 30px;
        margin-top: 20px;
    }
            
}

/*Estilos Navbar*/

#navbar {
    background-color: #0b1a53 !important;
}

/*Estilos navbar lateral */
#slide-out{
    background: linear-gradient(90deg, #0b1a53, #123a1d); 
}

.dropdown-menu{
    background: #0b1a53;
}

.tipo{
    font-size: 18px;
}

.labels-recibo{

    font-size: 18px;
}

.modal{
    background: linear-gradient(90deg, #0b1a53 , #009728); 
}

.page-footer{
    background-color: #009728 !important; 
}

.pagina-utec{
    font-size: 18px;
}

.redes-sociales{

    font-size: 30px;
}

.genero, .niveles{
    font-size: 18px;
}

.container-404{
    background-color: red;
    color: #ffffff;
   
}

#paginacion{
    background-color: #ffffff !important;
}

.title-container{

    margin-top: 5%;
}