/* Estilos login*/
#body {
    background: linear-gradient(90deg,  #4D9D29 , #024a86);
    padding: 20px;

}


.label-login{
    font-size: 18px !important;
}

#btn-login, #login-btn, #aspirantes-btn{
    background: linear-gradient(90deg, #024a86, #5cb85c);
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    color:#ffffff;
    margin-top: 4%;
    font-size: 15px;
}


/*Estilos Navbar*/

#navbar{
    background-color:   #4D9D29 !important;
}

/*Estilos navbar lateral */
#slide-out{
    background: linear-gradient(90deg,  #024a86, #024a86 ); 
}


.tipo{
    font-size: 18px;
}

.labels-recibo{

    font-size: 18px;
}

.modal{
    /*background: linear-gradient(90deg, #0b1a53 , #009728); */

    background-color: #0b1a53;
}



.page-footer{
    background-color: #092432 !important; 
}

.pagina-utec{
    font-size: 18px;
}

.redes-sociales{

    font-size: 30px;
}

.genero, .niveles{
    font-size: 18px;
}

.container-404, #materias-reprobadas{
    background-color: #c9383a;
    color: #ffffff;
   
}

#paginacion{
    background-color: #ffffff !important;
}

.title-container{

    margin-top: 8%;
   
}

.label-bancos, .label-solicitud, .label-conceptos{

    font-size: 18px;
}

#guardarSolicitud, #update-data, #guardar, #nuevo, #imprimir-referencia, #files #ver-datos, #see-payments, #btn-mas-informe,
#btn-admin, #btn-pagar{
    background: #5cb85c;    
}

/*Estilos para el scroll de la tabla de pagos*/
.scrollbar {
    position: relative;
    height: 450px;
    overflow: auto;
}
.scroll-y {
    display: block;
}

th, tr:hover {
  background-color: #939393;
}

/*Estilos progresbar*/
#myProgress {
    width: 100%;
    background-color: #ddd;
}
  
#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

#trasparente{

    background: rgba(2,74,134,0.2);
}

/*Estilos login tabs*/

.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
    border-radius: 2.5rem;
}

#derecha{
    background: linear-gradient(90deg,  #4D9D29 , #024a86);
}

#bienvenida{

    font-size: 30px;
}

#texto-inicial{
    font-size: 18px;
   
}

.label-grado, .label-grupo, .label-carrera{
    font-size: 18px;
    color: #ffffff;
}

.jumbotron{

    background-image: url("../img/logo-trasparencia.png");
}

