/* Estilos login*/
#body {
    background: linear-gradient(90deg,  #4D9D29 , #024a86);
    padding: 20px;

}


.label-login{
    font-size: 18px !important;
}

#btn-login{
    background: linear-gradient(90deg, #024a86, #5cb85c); 
}


/*Estilos Navbar*/

#navbar{
    background-color:   #4D9D29 !important;
}

/*Estilos navbar lateral */
#slide-out{
    background: linear-gradient(90deg,  #024a86, #4D9D29); 
}

.dropdown-menu{
    background: #024a86;
}

.tipo{
    font-size: 18px;
}

.labels-recibo{

    font-size: 18px;
}

.modal{
    background: linear-gradient(90deg, #0b1a53 , #009728); 
}

.page-footer{
    background-color: #092432 !important; 
}

.pagina-utec{
    font-size: 18px;
}

.redes-sociales{

    font-size: 30px;
}

.genero, .niveles{
    font-size: 18px;
}

.container-404{
    background-color: red;
    color: #ffffff;
   
}

#paginacion{
    background-color: #ffffff !important;
}

.title-container{

    margin-top: 8%;
   
}

.label-bancos, .label-solicitud, .label-conceptos{

    font-size: 18px;
}

#guardarSolicitud, #actualizar, #guardar, #nuevo, #imprimir-referencia, #files #ver-datos{
    background: #5cb85c;    
}

/*Estilos para el scroll de la tabla de pagos*/
.scrollbar {
    position: relative;
    height: 450px;
    overflow: auto;
}
.scroll-y {
    display: block;
}

th, tr:hover {
  background-color: #dbdbdb;
}

/*Estilos progresbar*/
#myProgress {
    width: 100%;
    background-color: #ddd;
}
  
#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

#trasparente{

    background: rgba(2,74,134,0.2);
}
